html, body {
    margin: 0;
    height: 100%;
    align-items: center;
    background-color: #f1f1f1;
}

.memory-block { 
    width: 5vh;
    height: 5vh;
    background-color: #a1dadd;
    border-color: #a1bcdd;
    border-width: 2px;
    border-radius: 2px;
}

.memory-block-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.memory {
    width: 700px;
    height: 350px;

    background-color: white;

    border: solid black 10px;
    border-radius: 50px / 50px;

    margin: 10px;
}

.center {
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
  }

